.aboutmain{
    min-height: 70vh;
    text-align: center;
    background-color: hsla(30.00000000000014,100%,98.82352941176471%,1);
}

.about-top{
    text-align: center;
    padding-top: 40px;
}
.about-det{
    max-width: 70%;
    margin: 0px auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 10px;
    text-align: left;

}

h4{
    font-size: 30px;
    text-align: left;

    @media (max-width: 600px) {
        font-size: 20px;
    }
}

p{
    font-size: 17px;
    font-weight: 500;

    @media (max-width: 600px) {
        font-size: 14px;
    }
}

.founders{
    padding: 30px;
    max-width: 70%;
    margin: 0px auto;
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // display: flex;
        gap: 30px;

        li{
            img{
                width: 100%;
            }

            .text{
                text-align: left;
            }
        }
    }
}