main{
    padding: 30px;
    text-align: center;
    min-height: 70vh;
    background-color: hsla(30.00000000000014,100%,98.82352941176471%,1);
    background-color: rgba(230, 247, 243, 1);
    background-color: rgb(255, 252, 259);
}

.contain{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: first baseline;
    gap: 10px;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
    }
}


h2{
    margin-bottom: 30px;
    font-size: 40px;
}

.left{
    text-align: left;
    

    h3{
        font-size: 40px;
        margin-bottom: 0px;
        &:nth-child(2){
            font-size: 30px;
        }
    }

    p{
        font-size: 14px;
        color: #363062;
    }
}

.right{
    background-color: white;
    background-color: rgba(255, 255, 255, 0.495);
    backdrop-filter: blur(10px);
    // border: 1px solid rgba(0, 0, 0, 0.311);
    padding: 10px;
    border-radius: 6px;
    box-shadow: -1px -2px 15px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -2px 15px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -2px 15px -7px rgba(0,0,0,0.75);
}

.v-btn{
    width: fit-content;
    background-color: hsl( 200.76923076923077,43.33333333333334%,11.76470588235294%);
    color: hsl(161.89944134078212,90.86294416243655%,61.372549019607845%);
}