nav{
    background-color: #112152;
    background-color: rgb(233, 242, 247);
    color: rgb(17, 34, 43);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    // color: white;
    z-index: 100;
}


.nav-cover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .left{
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;

        a{
            cursor: pointer;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            transition: .3s ease;
            font-weight: 600;

            &:hover{
                color: #aab7dd;
            }
        }

        img{
            width: 100px;

            @media (max-width: 900px) {
                width: 60px;
            }
        }
    }

    .middle ul li{
        display: inline-block;
        list-style: none;
        margin: 0px 10px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.772);

        a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.772);
            color: rgb(17, 34, 43);
            font-weight: 500;
            font-size: 18px;
            // font-family: sans-serif;
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    .right{
        cursor: pointer;
        border: 2px solid white;
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 600;
        transition: .3s ease;
        border-radius: 25px;
        background-color: hsl( 200.76923076923077,43.33333333333334%,11.76470588235294%);
        color: hsl(161.89944134078212,90.86294416243655%,61.372549019607845%);


        &:hover{
            background-color: white;
            color: black;   
        }

        @media (max-width: 700px) {
            display: none;
        }

        a{
            text-decoration: none;
            color: inherit;
        }
    }
}

.burger{
    cursor: pointer;
    display: none;

    @media (max-width: 500px) {
        display: block;
    }
}

.line1,.line2,.line3{
    width: 25px;
    height: 3px;
    background-color: white;
    background-color: rgb(17, 34, 43);
    margin: 5px 0px;
}

.media{
    position: absolute;
    height: 100%;

    .media-cover{
        background-color: rgb(233, 242, 247);
        padding: 40px;
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        ul{
            li{
                list-style: none;
                font-size: 30px;
                margin-bottom: 20px;

                a{
                    text-decoration: none;
                    color: #112152;
                    font-weight: 600;
                }
            }
        }

        button{
            padding: 10px 20px;
            border-radius: 25px;
            background-color: hsl( 200.76923076923077,43.33333333333334%,11.76470588235294%);
            width: fit-content;
            text-align: center;
            margin: 0px auto;
            
            a{
                color: hsl(161.89944134078212,90.86294416243655%,61.372549019607845%);
                text-decoration: none;
                font-weight: 600;
            }
        }

    }
}

.button{
    width: auto;
    margin: 0px auto;
}