.testimonal-cover{
    max-width: 75%;
    margin: 0px auto;
    padding: 40px;

    @media (max-width: 900px) {
        max-width: 100%;
        padding: 10px;
    }
}

.v-card{
    width: 300px;

    @media (max-width: 900px) {
        width: 220px;
    }
}

h2, h5{
    text-align: center;
}